<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# 1 There is more to if

In [1]:
name= 'Girl'

if name== 'Girl':
    print('Hello Girl')
elif name== 'Boy': #else if, AKA another option 
    print('Hello Boy')
else:
    print('Hello You')

Hello Girl

# 2 Asking questions

In [2]:
fruits= ['apple', 'banana', 'strawberry']
vegetables= ['broccoli', 'lettuce', 'kale']

In [3]:
'apple' in fruits

True

In [4]:
'papaya' in fruits

False

In [5]:
'plum' not in fruits

True

In [6]:
('apple' in fruits) and ('lettuce') in vegetables

True

In [7]:
('apple' in fruits) or ('lettuce') in vegetables

True

In [8]:
'bro' in 'broccoli'

True

In [9]:
'apples' > 'oranges' #letters represented as numbers

False

**not in and or** *useful keywords*

# 3 Remember

## 3.1 Asking Math questions

In [13]:
x= 5
5 < x < 15 #need to first define x before asking a question

False

In [10]:
x= 5
5 <= x <= 15

True

# 4 Python stores information in different formats or types

In [13]:
x= int(1.234) #integer
print(x, type(x)) #will drop decimal places in print

1 <class 'int'>

In [14]:
x= str(1.234) #english word
print(x, type(x))

1.234 <class 'str'>

In [15]:
x= float(1.234) #decimal number
print(x, type(x))

1.234 <class 'float'>

In [16]:
x= complex(1.234) #complex number which includes imaginary part
print(x, type(x))

(1.234+0j) <class 'complex'>

# 5 Never compare floats directly

## 5.1 The Problem

In [17]:
a=0.1
a3=0.3
a*3==a3 #decimal points cannot be stored -> errors

False

In [18]:
f'{0.3:.17f}'

'0.29999999999999999'

## 5.2 A solution

In [20]:
(a*3 -a3) < 1E-10 #instead of finding equality to zero, compare with a small number

True

In [21]:
abs(a*3 -a3) < 1E-10 #abs= absolute value

True

In [26]:
import numpy as np

In [28]:
np.isclose(a*3, a3) #numpy can detect how close 2 values are

True

# 6 Combining English and variables

In [10]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [12]:
name = "Batman"
print(f"Hello {name.upper()}!") #name in capitals

Hello BATMAN!

name = "word"

f" or f' will print same results
MUST BE CONSISTENT: open and close with the same type of quotes, "" and ''

In [48]:
x = 10
print(f'The value of {x} squared is {x**2}!')

The value of 10 squared is 100!

f {} is f-string/interpolation

x**2 means x^2

In [61]:
#f strings format text
text = 'a b c.'
print(f'{text}')
print(f'{text:>30}') #block of 30 characters :> aligned right
print(f'{text:^30}') #block of 30 characters :^ aligned centre
print(f'{text:<30}') #block of 30 characters :< aligned left

a b c.
                        a b c.
            a b c.
a b c.

In [62]:
#f strings format numbers
import numpy as np
print(f'pi^3 to 6dp is {np.pi**3:.6f}') #.6f means 6dp
print(f'pi^3 to 6dp is {np.pi**3:.6e}') #.6e means scientific notation

pi^3 to 6dp is 31.006277
pi^3 to 6dp is 3.100628e+01

## 6.1 Structure of f-strings

print(f'{**X:>0Y.ZW**}')

X : format variable -> number/text

(>) : alignment left (<) right (>) centre (^)

0 : act as a space

Y : total number of characters

Z : no of dp

W : type of variable float (f) integer (d) string (s) python to figure out (g)

# 7 Escape sequences

In [23]:
print('Line 1\n\tLine 2\n\t\tLine 3\n\t\t\tLine 4')
#\n breakline 
#\t horizontal tab with indent
#\n breakline + \t tab moves text to the next line with indent

Line 1
	Line 2
		Line 3
			Line 4

In [42]:
print('Line \' axis')
print('Line \\ axis')
print('Line\naxis')
print('Line\taxis')

Line ' axis
Line \ axis
Line
axis
Line	axis

In [3]:
print("I'm a student") #need " to print apostrophe '
print('I\'m a student') #can use ' + escape sequence \'  to print apostrophe '

I'm a student
I'm a student

# 8 Computers read = from Right to Left!

In [20]:
x = 40
y = x + 2
print(y)

42

In [21]:
y = 40
y = y + 2 #only works in programming
print(y)

42

In [22]:
x = y = 10 #this syntax works for 2 unknowns
z = x + y
print(z)

20

# 9 Shorter and Cleaner Code

In [18]:
y = 40
y = y + 2
y

42

In [19]:
y = 40
y += 2 #y+2 -> y+=2 SAME MEANING
y

42

In [30]:
y = 40
y -= 2
print(y) #with or without print it will also produce the resulting number

y = 40
y *= 2
y

38

80

In [33]:
y = 40
y /= 2
y

20.0